@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}

.ecology {
    height: 100dvh;
    width: 100vw;
    background-image: url('/images/EcologyBGD.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Kudryashev Headline Sans';
  }
    
  .ecology-content {
    width: 526px;  
    height: 75px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: justify;
    text-align: justify;
    font-family: 'Kudryashev Headline Sans';
    color: #ffffff; 
    -webkit-text-stroke: 0.1px #ffffff;
    -webkit-text-fill-color: #ffffff;
    line-height: 185%;
    font-size: 12px;
    letter-spacing: 19%;
  }

  
  
  .ecology-footer {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 185%;
    letter-spacing: 0.19em;
    color: #ffffff; 
    -webkit-text-stroke: 0.1px #ffffff;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Kudryashev Headline Sans';
    margin-bottom: 45px;
  }

  @media (max-width: 567px) {
    .ecology-content {
    width: calc(100% - 100px) !important;
    height: 75px;  
    }
  }

  @media (max-width: 767px) {

    .ecology {
      background-image: url('/images/EcologyBGM.jpg');
    }
    .ecology-content {
      width: calc(100% - 242px);
      overflow: visible;
      font-size: 10px;
      line-height: 185%;
      font-weight: 400;
      letter-spacing: 0.19em;
    }

    .ecology-footer { 
      font-size: 12px;
      font-weight: 400;
      line-height: 21.24px;
      letter-spacing: 0.23em;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {

    .ecology {
      background-image: url('/images/EcologyBGT.jpg');
    }

    .ecology-content {
      width: calc(100% - 242px); 
      height: 75px; 
      overflow: visible;
      font-size: 12px;
      font-weight: 400;
      line-height: 185%;
      letter-spacing: 0.19em;
    }

    .ecology-footer { 
      line-height: 185%;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.19em;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {

    .ecology {
      background-image: url('/images/EcologyBGL.jpg');
    }
    .ecology-content {
      width: 468px;
      height: 75px;
      overflow: visible;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.19em;
    }

    .ecology-footer {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.23em;
    }
  }


  @media (min-width: 1280px) and (max-width: 1919px) {

    .ecology {
      background-image: url('/images/EcologyBGL.jpg');
    }
    .ecology-content {
      width: 468px;
      height: 75px;
      overflow: visible;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.19em;
    }

    .ecology-footer {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.23em;
    }
  }
