@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}

.ecology {
    height: 100%;
    width: 100vw;
    background-image: url('/images/EcologyBGD.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Kudryashev Headline Sans';
  }
    
  .ecology-content {
    width: 468px;  
    height: 102px; 
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: justify;
    text-align: justify;
    font-family: 'Kudryashev Headline Sans';
    color: #ffffff; 
    -webkit-text-stroke: 0.1px #ffffff;
    -webkit-text-fill-color: #ffffff;
    padding: 0 20px;
    line-height: 22.2px;
    font-size: 12px;
    letter-spacing: 0.19em;

    p {
      font-weight: 400;
      line-height: 22.2px;
      letter-spacing: 0.19em;
      text-align: justify;
      font-family: 'Kudryashev Headline Sans';
    }
  }
  
  .ecology-footer {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.3px;
    letter-spacing: 0.19em;
    padding-bottom: 20px;
    color: #ffffff; 
    -webkit-text-stroke: 0.1px #ffffff;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Kudryashev Headline Sans';
  }

  @media (max-width: 767px) {

    .ecology {
      background-image: url('/images/EcologyBGM.jpg');
    }

    .ecology-content {
      width: 289px;
      height: 75px;  
      overflow: visible;
      font-size: 8px;
      font-weight: 400;
      line-height: 14.8px;
      letter-spacing: 0.19em;
    }

    .ecology-footer { 
      font-size: 12px;
      font-weight: 400;
      line-height: 21.24px;
      letter-spacing: 0.23em;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {

    .ecology {
      background-image: url('/images/EcologyBGT.jpg');
    }

    .ecology-content {
      width: 468px; 
      height: 75px; 
      overflow: visible;
      font-size: 12px;
      font-weight: 400;
      line-height: 22.2px;
      letter-spacing: 0.19em;
    }

    .ecology-footer { 
      font-size: 18px;
      font-weight: 400;
      line-height: 33.3px;
      letter-spacing: 0.19em;
    }
  }


  @media (min-width: 1280px) and (max-width: 1919px) {

    .ecology {
      background-image: url('/images/EcologyBGL.jpg');
    }
    .ecology-content {
      width: 468px;
      height: 75px;
      overflow: visible;
      font-size: 10px;
      font-weight: 400;
      line-height: 18.5px;
      letter-spacing: 0.19em;
    }

    .ecology-footer {
      font-size: 14px;
      font-weight: 400;
      line-height: 24.78px;
      letter-spacing: 0.23em;
    }
  }
