@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('/fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('/fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}

.education {
    width: 100vw;
    height: 200dvh;
    font-family: 'Kudryashev Headline Sans';
  }
  
 
  .first-section {
    background-image: url('/images/EducationBG1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  

  .second-section {
    position: relative;
    background-image: url('/images/AboutBG.png'); 
    background-size: contain;
    height: 100dvh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black; 
  }
  
  .education-content {
    color: #ffffff; 
    -webkit-text-stroke: 0.1px #ffffff;
    -webkit-text-fill-color: #ffffff;
    font-family: 'Kudryashev Headline Sans';
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.3px;
    letter-spacing: 0.19em;
    margin-bottom: 45px;
  }
  
  .education-text {

    .justified {
    font-family: 'Kudryashev Headline Sans';
    width: 526px;
    height: auto;
    margin: auto;
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    line-height: 185%;
    letter-spacing: 0.19em;
    color: #767676;
    -webkit-text-stroke: 0.1px #767676;
    -webkit-text-fill-color: #8C8781;
    text-align-last: justify;  
    }
  }

  .centroid {
    font-family: 'Kudryashev Headline Sans';
    width: 526px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 185%;
    letter-spacing: 0.19em;
    color: #767676;
    text-decoration: none;
    position: absolute;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);

    a {
      text-decoration: none;
      color: #767676;
    }

    }
  
  .bird-logo-container {
    position: absolute;
    bottom: 45px; /* Расстояние от нижнего края секции */
    left: 50%;
    transform: translateX(-50%); /* Центрируем по горизонтали */
    z-index: 10;

    .bird-logo {
      width: 58px; /* Задайте размер логотипа */
      height: 51px;
      opacity: 0.8; /* Небольшая прозрачность для стилистики */
      transition: opacity 0.3s ease-in-out
    }
  }

  @media (max-width: 567px) {
    .justified {
    width: calc(100% - 100px) !important;
    height: 99px;
    }
  }

  @media (max-width: 767px) {
    .first-section {
      background-image: url('/images/EducationBG1M.png'); 
    }
    .second-section {
      background-image: url('/images/AboutBGM.png'); 
    }
    .education-content {
      font-size: 12px;
      font-weight: 400;
      line-height: 21.24px;
      letter-spacing: 0.23em;
    }

    .justified {
      width: calc(100% - 242px);
      height: 121px;
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }

    .centroid {
      width: 289px !important;
      font-size: 10px;
    }

    .centroid a {
      font-size: 10px;
      font-weight: 400;
      line-height: 185%;
      letter-spacing: 0.19em;
    }

    .bird-logo {
      width: 50px !important;
      height: auto !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
    .first-section {
      background-image: url('/images/EducationBG1T.png'); 
    }
    .second-section {
      background-image: url('/images/AboutBGT.jpg'); 
    }
    .education-content {
      font-size: 18px;
      font-weight: 400;
      line-height: 33.3px;
      letter-spacing: 0.19em;
    }

    .justified {
      width: calc(100% - 242px);
      height: 99px;
      font-size: 12px !important;
      font-weight: 400 !important;
    }

    .centroid {
      width: 506px !important;
    }

    .centroid a {
      line-height: 185%;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.19em;
    }

    .bird-logo {
      width: 58px;
      height: 51px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {
    .first-section {
      background-image: url('/images/EducationBG1L.jpg'); 
    }

    .education-content {
      font-size: 14px;
      font-weight: 400;
      line-height: 177%;
      letter-spacing: 0.23em;
    }

    .justified {
      width: 468px !important;
      font-size: 10px !important;
      font-weight: 400 !important;
      letter-spacing: 0.19em !important;
    }

    .centroid {
      width: 468px !important;
    }

    .centroid a {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.19em;
    }

    .bird-logo {
      width: 39px !important;
      height: 39px !important;
    }
  }

  @media (min-width: 1280px) and (max-width: 1919px) {
    .first-section {
      background-image: url('/images/EducationBG1L.jpg'); 
    }

    .education-content {
      font-size: 14px;
      font-weight: 400;
      line-height: 177%;
      letter-spacing: 0.23em;
    }

    .justified {
      width: 468px !important;
      font-size: 10px !important;
      font-weight: 400 !important;
      letter-spacing: 0.19em !important;
    }

    .centroid {
      width: 468px !important;
      font-size: 10px;
    }

    .centroid a {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.19em;
    }

    .bird-logo {
      width: 39px !important;
      height: 39px !important;
    }
  }