@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}


.gallery-header {
    font-family: 'Kudryashev Headline Sans', sans;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  .gallery-header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 260px; /* Высота градиента */
      background-image: url('/images/GradientToBottom.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1; /* Псевдоэлемент будет находиться позади содержимого */
      pointer-events: none;
}
button:not(.modal-close-button) {
  display: block; /* Применяйте только к другим кнопкам */
}

.modal-close-button {
  position: fixed !important;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11px; /* Установить ширину кнопки */
  height: 9px; /* Установить высоту кнопки */
  cursor: pointer;
  z-index: 100001;
  background: none;
  border: none;
  transition: all 0.3s ease-in-out;

}

.modal-close-button .line-close {
  width: 100%;
  height: 1px;
  background-color: #5d5855; /* Цвет линий */
  transition: all 0.3s ease-in-out;
}

.modal-close-button .line-close:nth-child(2) {
  width: 60%; 
  align-self: center; 
}

.modal-close-button.open .line-close:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.modal-close-button.open .line-close:nth-child(2) {
  opacity: 0; 
}

.modal-close-button.open .line-close:nth-child(3) {
  transform: rotate(-45deg) translate(2.7px, -2.7px);
}

  
  
  .gallery-container {
    background-image: url('../images/AboutBG.png'); 
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center; 
    overflow: hidden;
    z-index: 1;
  }

  .gallery-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    pointer-events: auto;
  }
  
  .gallery-item {
    font-family: 'Kudryashev Headline Sans';
    flex: 0 0 auto; /* Позволяет элементам не сжиматься */
    width: auto; /* Ширина изображения будет определяться автоматически */
    max-width: calc(23.3vh * 1.5); /* Максимальная ширина с сохранением пропорций */
    height: calc(50vh - 7.5px); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }

    &:hover img{
        transform: scale(1.05); 
      }
  }
  
  
  .gallery-footer {
    font-family: 'Kudryashev Headline Sans';
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 185%;
    letter-spacing: 0.19em;
    z-index: 100;
    margin-bottom: 45px;
    pointer-events: all;
  }

  .gallery-footer::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 335px; /* Высота градиента */
    background-image: url('/images/GradientToTop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1; /* Псевдоэлемент будет находиться позади содержимого */
  }
  
  .gallery-footer p {
    margin: 0;
    color: #767676;
    -webkit-text-stroke: 0.1px #767676;
    -webkit-text-fill-color: #8C8781;
  }

  @media (max-width: 767px) {

    .gallery-container {
      background-image: url('/images/AboutBGM.png');
    }

    .gallery-item img {
      object-fit: contain;
    }


    .gallery-footer {
      font-size: 14px;
      font-weight: 400;
      line-height: 177%;
      letter-spacing: 0.23em;
      margin-bottom: 45px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {

    .gallery-container {
      background-image: url('/images/AboutBGT.jpg');
    }

    .gallery-item img {
      object-fit: contain;
    }

    .gallery-footer {
      font-size: 18px;
      font-weight: 400;
      line-height: 185%;
      letter-spacing: 19%;
      margin-bottom: 45px;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {

    .gallery-footer {
      font-size: 14px;
      font-weight: 400;
      line-height: 177%;
      letter-spacing: 23%;
      margin-bottom: 45px;
    }

    .gallery-item img {
      object-fit: contain;
    }
 
  }

  @media (min-width: 1280px) and (max-width: 1919px) {

    .gallery-footer {
      font-size: 14px;
      font-weight: 400;
      line-height: 177%;
      letter-spacing: 23%;
      margin-bottom: 45px;
    }
 
  }