.slider-container {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: relative;
  
  .slide {
    height: 100dvh;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .slide-background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}


