@media (max-width: 767px) {
    .slider-container-mobile {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: relative;
    }
  
    .slide-mobile {
      width: 100vw;
      height: 100vh; 
      background-size: cover; 
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  
    .slide-background-mobile {
        height: 100%;
        width: 100%;
      background-size: cover;
      background-position: center;
    }
  }


