
.image-scroll-lens {
    display: flex;
    flex-direction: row; 
    white-space: nowrap; 
    overflow-x: scroll;
    gap: 20px; 
    height: 395px; 
    max-width: 100vw; 
    max-height: 100vh;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
  }


.image-scroll-lens {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
  
  .image-scroll-lens::-webkit-scrollbar {
    display: none;  
  }
  
