.menu-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white !important;
  align-items: center;
  padding: 20px;
  width: 100%;
  z-index: 1000;
 
  .menu-icon {
      align-items: center;
      position: absolute;
      left: 40px;
      top: 40px;
      z-index: 10000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 15.5px;
      height: 12px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

    .line {
      width: 100%;
      height: 1px;
      background-color:white;
      transition: all 0.3s ease-in-out; 
    }

    .line:nth-child(2) {
      width: 60%; 
      align-self: center; 
    }

    &.open .line:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px);
    }

    &.open .line:nth-child(2) {
      opacity: 0; 
    }

    &.open .line:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
    }
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 200.15px;
      height: 20.12px;
    }
  }


  .language-switcher {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
  
    a {
      margin: 0 5px;
      font-family: 'Kudryashev Headline Sans';
      font-size: 12px;
      letter-spacing: 0.19em;
      cursor: pointer;
      line-height: 22.2px;
      transition: color 0.3s ease; 
      text-decoration: none;
    }
  
    .active {
      color: white !important; 
    }

    .inactive {
      color: rgb(208, 208, 208) !important; 
    }
  
    span {
      color: white;
      font-size: 14px;
    }
   }
}

  .menu {
    position: fixed; 
    top: 0;
    left: -370px; 
    width: 300px; 
    height: 100%; 
    background-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center; 
    transform: translateX(0); 
    transition: transform 0.5s ease-in-out; 
    z-index: 999;
  }

  .menu.open {
    transform: translateX(300px); 
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin-left: 50px;
    text-align: left;
  }
  
  .menu li {
    margin-top: 17px; 
    margin-bottom: 20px;
  }
  
  .menu a {
    font-size: 12px;
    line-height: 22.2px;
    letter-spacing: 0.19em;
    font-family: 'Kudryashev Headline Sans';
    color: #fff; 
    font-size: 12px;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
    font-weight: 400;
  }
  
  .menu a:hover {
    color: #bcbcbc; 
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный цвет */
    mix-blend-mode: color-burn;
    opacity: 0; /* По умолчанию невидим */
    visibility: hidden; /* Прячем элемент */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 998; /* За слоем меню, но выше всего остального */
  }
  
  .menu-overlay.visible {
    opacity: 1; /* Делаем видимым */
    visibility: visible; /* Убираем скрытие */
  }

  @media (max-width: 767px) {

    .menu-icon {
      width: 11px !important;
      height: 9px !important;
      top: 43px !important;
  
      &.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px) !important;
      }
  
      &.open .line:nth-child(2) {
        opacity: 0; 
      }
  
      &.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(4.8px, -4.5px) !important;
      }
    }

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/AboutBG.png');
      background-size: contain;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(0%) !important;
      z-index: 999;
    }
    
    .menu.open {
      opacity: 1;
      visibility: visible;
    }
    
    .menu ul {
      list-style: none;
      padding: 0;
      text-align: center;
      margin: 0;
    }
    
    .menu li {
      margin: 25px 0;
      font-size: 11px;
    }
    
    .menu a {
      font-family: 'Kudryashev Headline Sans', sans;
      color: #8c8781 !important;
      font-size: 10px;
      text-decoration: none;
    }
  
    .language-switcher a {
      font-size: 11px !important;
      font-weight: 400;
      line-height: 14.8px !important;
      letter-spacing: 0.19em !important;
    }
  
    .logo img {
      width: 132.1px !important;
      height: 13.28px !important;
    }
    .logo {
      z-index: 1000;
    }

    .language-switcher {
      z-index: 1000;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1279px) {

    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/AboutBG.png');
      background-size: contain;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(0%) !important;
      transition: opacity 0.5s ease, visibility 0.5s ease;
      z-index: 999;
    }

    .menu-icon {
      width: 19.5px !important;
      height: 15px !important;
  
      &.open .line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px) !important;
      }
  
      &.open .line:nth-child(2) {
        opacity: 0; 
      }
  
      &.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px) !important;
      }
  
    }
    
    .menu.open {
      opacity: 1;
      visibility: visible;
    }
    
    .menu ul {
      list-style: none;
      padding: 0;
      text-align: left;
      position: absolute;
      left: -10px;
    }
    
    .menu li {
      margin: 35px 0;
      font-size: 12px;
    }
    
    .menu a {
      font-family: 'Kudryashev Headline Sans', sans;
      color: #8c8781 !important;
      font-size: 12px;
      text-decoration: none;
    }
  
    .menu.open .menu-icon .line {
      background-color: #8c8781;
    } 
    
    .logo img {
      width: 198px !important;
      height: 20px !important;

    }

    .logo {
      z-index: 1000;
    }

    .language-switcher {
      z-index: 1000;
    }
  
  }

  @media (min-width: 1280px) and (max-width: 1919px) {

    .menu-icon {
      width: 11px !important;
      height: 9px !important;
  
      &.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px) !important;
      }
  
      &.open .line:nth-child(2) {
        opacity: 0; 
      }
  
      &.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(4.8px, -4.5px) !important;
      }
    }

    .logo img {
      width: 158px !important;
      height: 16px !important;
    }

    .menu li a{
      margin-bottom: 12px;
      margin-top: 7px;
      font-size: 10px;
      line-height: 185%;
      letter-spacing: 0.19em;
    }

    .menu ul {
      margin-left: 10px;
    }

    .menu li a{
      font-size: 10px;
      line-height: 185%;
      letter-spacing: 0.19em;
    }

    .language-switcher a {
      font-size: 10px !important;
    }
  }

@media (max-width: 1279px) {

  .menu-header {

    &.dark-menu {
      transition: background-color 0.3s ease, color 0.3s ease;
  
      .menu-icon .line {
        background-color: #8c8781; /* Линии меню становятся черными */
        transition: background-color 0.3s ease;
      }
  
      .logo img {
        filter: invert(51%) sepia(5%) saturate(132%) hue-rotate(180deg) brightness(85%) contrast(90%);
        transition: filter 0.3s ease;
      }
  
      .language-switcher a {
        color: #8c8781 !important;
        transition: color 0.3s ease;
  
        &:hover {
          color: grey;
        }
      }
    }
  }
}
  


  // ДУХАРААААААААААААААААААААААААААА