@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal;
}

:root {
  --menu-spacing: 20px; /* По умолчанию */
}

.menuhome-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

    .contacts-link {
      position: absolute;
      top: 40px;
      left: 40px;
  
      a {
        font-family: 'Kudryashev Headline Sans';
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 22.2px;
        letter-spacing: 0.19em;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
  
        &:hover {
          color: rgb(208, 208, 208); 
        }
      }
    }
  
    /* Иконка меню-бургера */
    .menu-icon-home {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 51px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 15.5px;
      height: 12px;
      cursor: pointer;
      transition: all 0.3s ease-in-out; 
  
      .line {
        width: 100%;
        height: 1px;
        background-color:white;
        transition: all 0.3s ease-in-out;
      }
  
      .line:nth-child(2) {
        width: 60%; 
        align-self: center; 
      }
  
      &.open .line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
  
      &.open .line:nth-child(2) {
        opacity: 0; 
      }
  
      &.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
      }
    }
    
    .language-switcher {
      display: flex;
      align-items: center;
      position: absolute;
      top: 40px;
      right: 40px;

      a {
        margin: 0 5px;
        font-family: 'Kudryashev Headline Sans';
        font-size: 12px;
        letter-spacing: 0.19em;
        cursor: pointer;
        line-height: 22.2px;
        transition: color 0.3s ease; 
        text-decoration: none;
      }
    
      .active {
        color: white !important; 
      }
  
      .inactive {
        color: rgb(208, 208, 208) !important; 
      }
    
      span {
        color: white;
        font-size: 14px;
      }
     }
  }
  
  /* Меню */
  .menu-home {
    position: absolute;
    top: var(--menu-top-offset, 15%); /* Смещение сверху */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: calc(80% - var(--menu-bottom-offset, 10%)); /* Ограничение по высоте */
    gap: var(--menu-gap, 20px); /* Динамический gap между ссылками */
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: calc(1vh); /* Расстояние между ссылками */
      align-items: center;
  
      li {
        margin: 0 15px;
  
        a {
          text-decoration: none;
          font-family: 'Kudryashev Headline Sans';
          color: white;
          text-decoration: none;
          font-size: 12px;
          letter-spacing: 0.24em;
          font-weight: 400;
          line-height: 15.46px;
        }
      }
    }
  }
  
  
    .menu-home ul li a {
      transition: color 0.3s ease-in-out, filter 0.3s ease-in-out; 
  }
  
  .menu-home ul li a:hover {
    color: #d3d1d1; 
    filter: brightness(0.8);
  }
    
  .menu-home.open {
    max-height: 300px; 
    opacity: 1; 
  }

  @media (max-width: 767px) {

    .menu-home ul{
      gap: 3px; /* Расстояние между ссылками */
    }

    .menu-icon {
      width: 10px !important;
      height: 9px !important;
      top: 43px !important;
  
      &.open .line:nth-child(1) {
        transform: rotate(45deg) translate(1px, 1px) !important;
      }
  
      &.open .line:nth-child(2) {
        opacity: 0; 
      }
  
      &.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(4.8px, -4.5px) !important;
      }
    }


    .language-switcher {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
      top: 45px !important;
    }

    .contacts-link a {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }

    .menu-home a {
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
  
    .menu-home a {
      font-size: 12px !important;
      font-weight: 400 !important;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }


    .language-switcher a {
      font-size: 12px !important;
      font-weight: 400;
      line-height: 22.2px !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {

    .contacts-link a {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }
    
    .menu-home a {
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }


    .language-switcher a {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 22.2px !important;
    }
  
  }

  @media (min-width: 1280px) and (max-width: 1919px) {

    .contacts-link a {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }
    
    .menu-home a {
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 185% !important;
      letter-spacing: 0.19em !important;
    }


    .language-switcher a {
      font-size: 10px !important;
      font-weight: 400;
      line-height: 22.2px !important;
    }
  
  }

