.menu-header-dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 60px;
  
    .menu-icon-dark {
      align-items: center;
      position: absolute;
      left: 20px;
      z-index: 10000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20px;
      height: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      transform: translateY(70%);
  
      .line-dark {
        width: 100%;
        height: 1px;
        background-color: #5d5855;
        transition: all 0.3s ease-in-out; 
      }

      .line-dark:nth-child(2) {
        width: 70%; 
        align-self: center; 
      }
  
      &.open .line-dark:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
  
      &.open .line-dark:nth-child(2) {
        opacity: 0; 
      }
  
      &.open .line-dark:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  
    .logo-dark {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  
    .language-switcher-dark {
          position: absolute;
          right: 20px;
          display: flex;
          align-items: center;
          transform: translateY(50%);
        
          a {
            margin: 0 5px;
            font-size: 12px;
            letter-spacing: 0.19em;
            cursor: pointer;
            line-height: 22.2px;
            transition: color 0.3s ease; 
            text-decoration: none;
          }
        
          .active {
            color: #5d5855 !important; 
          }
      
          .inactive {
            color: #8c8781 !important; 
          }
        
          span {
            color: #5d5855;
            font-size: 14px;
          }
         }
  }
  
  .menu-dark {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: transparent; 
    color: #8c8781;
    max-height: 0; 
    overflow: hidden; 
    opacity: 0;
  
    ul {
      list-style: none;
      align-items: left;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      top: 100%;
  
      li {
        margin: 0 15px;
  
        a {
          color: #8c8781;
          text-decoration: none;
          font-size: 10px;
          letter-spacing: 0.24em;
          font-weight: 400;
          line-height: 15.46px;
        }
      }
    }
  }

  .menu-dark ul li a {
    transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;
  }

  .menu-dark ul li a:hover {
    color: #666; 
    filter: brightness(0.8); 
  }
  

  .menu-dark.open {
    max-height: 100vh; 
    opacity: 1; 
  }

.menu-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/EducationBG2.png');
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%); 
  transition: transform 0.5s ease;
  z-index: 999;
  opacity: 0;

  &.open {
    opacity: 1;
    transform: translateX(0);
    visibility: visible; 
  }

  &.closing {
    opacity: 0;
    transform: translateX(-100%);
    visibility: visible; 
  }
}


.menu-dark ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-dark li {
  margin: 20px 0;
}

.menu-dark a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .language-switcher-dark a {
    font-size: 8px !important;
  }

  .menu-icon-dark {
    transform: translateY(60%) !important;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .menu-icon-dark {
    transform: translateY(60%) !important;
  }
}