@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}

.image-scroll {
    font-family: 'Kudryashev Headline Sans';
    display: flex;
    flex-direction: row; 
    white-space: nowrap; 
    overflow-x: scroll; 
    gap: 15px; 
    height: 395px; 
    max-width: 100vw; 
    max-height: 100vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
  }

  .image-scroll img {
    width: 262px;
    height: auto;
    object-fit: cover; /* Единое поведение для всех изображений */
  }

.image-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  
  .image-scroll::-webkit-scrollbar {
    display: none; 
  }
  
  .hover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 262px; 
    height: 395px; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out; 
  }

  .hover-container:hover img {
    opacity: 0; 
  }
  
  .hover-text-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование текста */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование контейнера по середине */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-container:hover .hover-text-container {
    opacity: 1;
  }
  
  .hover-text {
    margin: 5px 0; /* Отступы между строками */
    font-family: 'Kudryashev Headline Sans';
    color: #8c8781;
    font-weight: 400;
    font-size: 12px;
    line-height: 22.2px;
    letter-spacing: 0.19em;
    text-align: center;
    max-width: 172.5px;
    white-space: normal;
    word-wrap: break-word;
  }

  @media (max-width: 767px) {
    .image-scroll {
      height: 262px;
    }
    
    .image-scroll img {
      width: 173px;
    }

    .hover-container {
      height: 262px;
      width: 173px;
    }

    .hover-text {
      font-size: 8px;
      font-weight: 400;
      line-height: 14.8px;
      letter-spacing: 0.19em;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1279px) {
    .image-scroll {
      height: 369px;
    }

    .image-scroll img {
      width: 246px;
    }

    .hover-container {
      height: 369px;
      width: 246px;
    }

    .hover-text {
      font-size: 12px;
      font-weight: 400;
      line-height: 22.2px;
      letter-spacing: 0.19em;
    }
  }
  
  @media (min-width: 1280px) and (max-width: 1919px) {
    .image-scroll {
      height: 369px;
    }

    .image-scroll img {
      width: 244px;
    }


    .hover-container {
      height: 369px;
      width: 244px;
    }


    .hover-text {
      font-size: 10px;
      font-weight: 400;
      line-height: 18.5px;
      letter-spacing: 0.19em;
    }
  }