@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}

.image-scroll {
    font-family: 'Kudryashev Headline Sans', sans;
    display: flex;
    flex-direction: row; 
    white-space: nowrap; 
    overflow-x: scroll; 
    gap: 20px; 
    height: 395px; 
    max-width: 100vw; 
    max-height: 100vh;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
  }

.image-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  
  .image-scroll::-webkit-scrollbar {
    display: none; 
  }
  
  .hover-container {
    flex-shrink: 0;
    width: 261.43px; 
    height: 395px; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out; 
  }

  .hover-container:hover img {
    opacity: 0; 
  }
  
  .hover-text {
    font-family: 'Kudryashev Headline Sans', sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #8c8781; 
    font-weight: 400;
    font-size: 12px;
    line-height: 22.2px;
    letter-spacing: 0.19em;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    text-align: center;
    max-width: 172.5px;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .hover-container:hover .hover-text {
    opacity: 1; 
  }