@font-face {
  font-family: 'Kudryashev Headline Sans';  
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  
  font-style: normal; 
}

/* Закреплённое верхнее меню */
.gallery-header {
    font-family: 'Kudryashev Headline Sans', sans;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
  }
  
  /* Галерея фотографий */
  .gallery-container {
    background-image: url('/images/AboutBG.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Изображения идут в столбик */
    align-items: center; /* Центрирование контейнеров по горизонтали */
    gap: 20px; /* Отступы между контейнерами изображений */
    padding: 80px 20px; /* Отступ сверху и по бокам */
  }
  
  .gallery-item {
    font-family: 'Kudryashev Headline Sans', sans;
    width: 250px; /* Ширина контейнера */
    height: 418px; /* Высота контейнера */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }

    &:hover img{
        transform: scale(1.05); /* Увеличение при наведении */
      }
  }
  
  /* Закреплённый текст внизу */
  .gallery-footer {
    font-family: 'Kudryashev Headline Sans', sans;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
    text-align: center;
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33.3px;
    letter-spacing: 0.19em;
    z-index: 100;
  }
  
  .gallery-footer p {
    margin: 0;
    color: #767676;
  }