@font-face {
  font-family: 'Kudryashev Headline Sans';  /* Название шрифта */
  src: url('../fonts/kudryashevheadline-sans.woff2') format('woff2'),
       url('../fonts/kudryashevheadline-sans.woff') format('woff');
  font-weight: 400;  /* Можно указать вес, если это шрифт одной толщины */
  font-style: normal; /* Нормальный стиль, без наклона */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.home {
  height: 100vh;
  width: 100vw;
  position: relative; 
  font-family: 'Kudryashev Headline Sans', sans;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .center-text {
      h1 {
        font-size: 48px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@media (max-width: 360px) {
  .home {
    height: 640px;
    width: 360px;
    position: relative; 
    font-family: 'Kudryashev Headline Sans', sans;
  }

  .home-main {
    .home-main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  
      .center-text {
        h1 {
          font-size: 48px;
          color: white;
          text-transform: uppercase;
          letter-spacing: 5px;
        }
      }
    }
  }
}
