/* Контейнер для скролла */
.image-scroll-lens {
    display: flex;
    flex-direction: row; /* Горизонтальное размещение */
    white-space: nowrap; /* Не переносим элементы на новую строку */
    overflow-x: scroll; /* Горизонтальная прокрутка */
    gap: 20px; /* Отступы между изображениями */
    height: 395px; /* Высота контейнера для изображений */
    max-width: 100vw; /* Ограничение по ширине, чтобы контейнер не превышал ширину экрана */
    scroll-snap-type: x mandatory; /* Скролл с привязкой */
    scroll-behavior: smooth; /* Плавный скролл */
  }

/* Убираем полоску прокрутки для всех браузеров */
.image-scroll-lens {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .image-scroll-lens::-webkit-scrollbar {
    display: none;  /* Скрыть полоску прокрутки в Chrome, Safari и Opera */
  }
  
