.menuhome-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: relative;

    .contacts-link {
      justify-self: start;
  
      a {
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 22.2px;
        letter-spacing: 0.19em;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
  
        &:hover {
          color: #666; /* Меняем цвет при наведении */
        }
      }
    }
  
    /* Иконка меню-бургера */
    .menu-icon {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 20px;
      height: 15px;
      cursor: pointer;
      margin-right: 18px;
      transition: all 0.3s ease-in-out; /* Плавный переход для анимации */
  
      .line {
        width: 100%;
        height: 1px;
        background-color:white;
        transition: all 0.3s ease-in-out; /* Плавный переход */
      }
  
      .line:nth-child(2) {
        width: 70%; 
        align-self: center; 
      }
  
      /* Трансформация в крестик при открытии */
      &.open .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
  
      &.open .line:nth-child(2) {
        opacity: 0; /* Скрываем среднюю линию */
      }
  
      &.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
    
    .language-switcher {
      display: flex;
      align-items: center;
    
      a {
        margin: 0 5px;
        font-size: 12px;
        letter-spacing: 0.19em;
        cursor: pointer;
        line-height: 22.2px;
        transition: color 0.3s ease; 
        text-decoration: none;
      }
    
      .active {
        color: white !important; 
      }
  
      .inactive {
        color: grey !important; 
      }
    
      span {
        color: white;
        font-size: 14px;
      }
     }
  }
  
  /* Меню */
  .menu-home {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: transparent; /* Убираем фон */
    max-height: 0; /* Высота по умолчанию */
    overflow: hidden; /* Скрываем содержимое меню, пока оно закрыто */
    opacity: 0; /* Скрываем меню */
    transition: all 0.5s ease-in-out; /* Плавный переход для показа меню */
  
    ul {
      list-style: none;
      align-items: center;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      top: 100%;
  
      li {
        margin: 0 15px;
  
        a {
          color: white;
          text-decoration: none;
          font-size: 10px;
          letter-spacing: 0.24em;
          font-weight: 400;
          line-height: 15.46px;
        }
      }
    }
  }
  
  
    .menu-home ul li a {
      transition: color 0.3s ease-in-out, filter 0.3s ease-in-out; /* Плавный переход для цвета и фильтра */
  }
  
  .menu-home ul li a:hover {
    color: #666; /* Меняем цвет текста на более тёмный (или любой другой, подходящий под дизайн) */
    filter: brightness(0.8); /* Дополнительно уменьшаем яркость для затемнения */
  }
    
  /* Показ меню при открытии */
  .menu-home.open {
    max-height: 300px; /* Устанавливаем высоту при открытии */
    opacity: 1; /* Делаем меню видимым */
  }
